<h1 style="color: #EAEAEA; font-size: 30px; font-weight: bold; text-align: center;"> Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages that Data Scientists use
* Name some of the commonly used libraries used by Data Scientists 
* Name some of the most used Data Science tools
* How to run arithmetic operations in a Jupyter Notebook
* How to use arithmetic to make operations such as conversion.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Sas
7. Julia
8. MATLAB
9. Tableau
10. Ruby
11. Escala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras
7. SciPy
8. Plotly

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Apache Zeppelin      |

<h3 style="color: #FF2E63; font-size: 20px; font-weight: bold">Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers.

17

This will convert 200 minutes to hours by dividing by 60.

In [3]:
200/60

3.3333333333333335

<h2 style="color: #0078F5; font-size: 20px; font-weight: bold">Author</h2>

Jordy Alejandro Ubaldo Morales